<h1>Pharmacies#index</h1>
<p>Find me in app/views/pharmacies/index.html.erb</p>

<div style="width: 600px; height: 600px;"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
</div>
