<h1 id = "title-map">Pharmacies autour de vous</h1>
<div class = "map" style="width: 100%; height: 773px;"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
</div>
