.parent-flexbox {
  display: flex;
  justify-content: space-evenly;
  padding-top: 150px;
}


.modal-footer {
    display: flex;
    justify-content: center;
    a {
        text-decoration: none;
        padding: 8px 32px;
        color: white;
        background-color: black;
        border-radius: 25px;
    }
}
.modal-global {
    margin-top: 30vh;

}
.input-modal {
    width: 150px;
}

#prescription_patient_id {
    width: 100%;
}

.banner-img {
    padding-top: 209px;
    padding-bottom: 300px;
    background-image: asset-url("back-final.jpg");
    background-size: cover;
    background-position: center;
    height: calc(100vh - 70px);
    h1 {
      color: #0688E4;
      font-size: 110px;
      font-weight: 700;
      justify-content: center;
    }
  }
button {
    p {
        color: white;
    }
}
#btn-modal {
    display: flex;
    justify-content: center;
}
