.parent-flexbox {
    display: flex;
    justify-content: space-around;
}

.modal-footer { 
    display: flex;
    justify-content: center;
    a {
        text-decoration: none;
        padding: 8px 32px;
        color: white;
        background-color: black;
        border-radius: 25px;
    }
}
.modal-global {
    margin-top: 30vh;
  
}
.input-modal {
    width: 80px;
}

#prescription_patient_id {
    width: 90%;
}
.image-bouton-carré {
    width: 81px;
}

.banner-img {
   
    padding-top: 100px;
    padding-bottom: 300px;
    background-image: asset-url("frame.jpg");
    background-size: cover;
    background-position: center;
  }
button {
    p {
        color: white;
    }
}
