.titre-page {
    text-align: center;
    font-family: 'Fredoka One', cursive;
    margin-top: 32px;
    margin-bottom: 70px;
    color: #0688E4;
    font-size: 80px;
    font-weight: 700;
    letter-spacing: 4px;
}

.link-to {
    text-decoration: none;
    text-decoration: none;
    border-radius: 50px;
    background-color: #87C8DE;
    color: white;
    padding: 10px;

}
.div-link {
    display: flex;
    justify-content: center;
}

.kill-margin {
    margin: 0;
}

#doctor-prescriptions {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .card-ordonance {

        margin: 10px auto 30px ;
        width: 30%;
    }
    
}