
.link-to {
    text-decoration: none;
    text-decoration: none;
    border-radius: 50px;
    background-color: #87C8DE;
    padding: 10px;

}
.div-link {
    display: flex;
    justify-content: center;
}

.kill-margin {
    margin: 0;
}

#doctor-prescriptions {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .card-ordonance {

        margin: 10px auto 30px ;
        width: 30%;
    }
    
}
