h1 {
    text-align: center;
    font-family: 'Fredoka One', cursive;
    margin-top: 16px;
    margin-bottom: 16px;
}

.link-to {
    text-decoration: none;
    text-decoration: none;
    border-radius: 50px;
    background-color: #87C8DE;
    color: white;
    padding: 10px;

}
.div-link {
    display: flex;
    justify-content: center;
}

.kill-margin {
    margin: 0;
}
