#ordonnance {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin: 0 auto;

    &.patient_ordonnance {
      padding: 10px;
      margin-bottom: 100px;
      box-sizing: border-box;

      p {
        font-size: 16px;
      }

      #flexblox-ordonance-top {
        flex-direction: column;

        > div {
          margin-bottom: 30px;
        }
      }

      #div-posologie {
        margin-top: 0px;
      }
    }
}

.trash-link {
  text-decoration: none;
  color: black
}

#ordonnance p {
    padding: 5px;
    margin: 0;
    //  font-family: 'Rouge Script', cursive;
    font-family: 'Fragment Mono', monospace;
    font-size: 15px;
}

.footer-ordonance{
display: flex;
    align-items: end;
    justify-content: center;
}

#flexblox-ordonance-top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

#div-posologie {
    margin-top:20px ;
}

.text-ordonance {
    margin: 0;
}
