<div class="container p-5">

    <p>Voici l'object correspond <%= @prescription %> et son id <strong><%= params[:id] %></p></strong>

    <h1>Mon ordonance du Docteur Knock du 17 février 2023</h1>
    <div id="ordonnance">
        <div id="flex-column">
            <div id="flexblox-ordonance-top">
                <div class="text-ordonance">
                    <p>Docteur Knock</p>
                    <p>Médecin généraliste</p>
                    <p>Numéro RPPS : 6475903</p>
                    <p>St Maurice</p>
                </div>
                <div class="text-ordonance">
                    <p>Le 27 février 2023</p>
                    <p>Michel Dujardin</p>
                    <p>rue des Accacia</p>
                    <p>St Maurice</p>
                </div>
            </div>

            <div id="div-posologie">
                <p>Doliprane 1000 mg,comprimé</p>
                <p>Posologie:...fois par ... pendant ... ...</p>
            </div>
        </div>
        <div class="footer-ordonance">
            <a href="#" class="boutton-white">ordonnance</a>
            <a href="#"><button class="bn632-hover bn26">signer et transmettre</button></a>
        </div>


</div>

