<div class="container-home">
  <div class="banner-home">
    <div class="text-banner p-3">
      <h1> MedicHome <h1>
      <h2>A new way of caring for your health</h2>
      <p> Générer une ordonnance. La transmettre au pharmacien. Aller la récupérer chez son pharmacien préféré ou se faire livrer à la maison !</p>
      <a href='#'>
    </div>

  </div>



  <a href="#"> Je suis un patient </a>
  <a href="#"> Je suis un médecin </a>
</div>
