<div class="container-home">
  <div class="banner-home">
    <div class="banner-text p-10">
      <h1> MedicHome <h1>
      <h2>Un nouveau moyen de prendre soin de votre santé</h2>
      <p> Générer une ordonnance. <br> La transmettre au pharmacien. <br> Aller la récupérer chez son pharmacien préféré ou se faire livrer à la maison !</p>
      <a href='/users/sign_in'>
    </div>
  </div>
</div>

<div class="container-btn">
</div>
  <h3 class="text-question"> Êtes-vous un patient ou un médecin ? </h3>
  <div class="cards-homepage">
    <div class="card-homepage">
      <%= image_tag "doctor.jpg" %>
      <h4>Docteur</h4>
      <p>Accéder à mon espace docteur.</p>
    </div>
    <div class="card-homepage">
      <%= image_tag "patient.jpg"%>
      <h4>Patient</h4>
      <p>Accéder à mon espace patient.</p>
    </div>
  </div>
</div>


<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    Simplifiez-vous la vie avec MedicHome
  </div>
</div>
