<div class="container-home">
  <div class="banner">
    <div class="container">
      <h1 id="titre-page-home">MedicHome</h1>
      <p id="sous-titre-page">un nouveau moyen de prendre soin de <br>votre santé!</p>
      <a href="/doctor/prescriptions" id="btblue"class="btn-gris btn btn-outline-secondary mb-3">Mes ordonnances</a>
    </div>
  </div>

  <div class="banner-home">
    <div class="banner-text">
      <a href='/users/sign_in'>
    </div>
  </div>
</div>
<div id="medichimage">
<%= image_tag "MedicHome_Vdef_1_-removebg.png", class: "img-home-b mx-auto d-block" %>
</div>

<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    Simplifiez-vous la vie avec MedicHome
  </div>
</div>
