<div class="container-home">
  <div class="banner-home">
    <div class="banner-text p-10">
      <h1> MedicHome <h1>
      <h2>Un nouveau moyen de prendre soin de votre santé</h2>
      <p> Générer une ordonnance. <br> La transmettre au pharmacien. <br> Aller la récupérer chez son pharmacien préféré ou se faire livrer à la maison !</p>
      <a href='/users/sign_in'>
    </div>
  </div>
</div>

<div class="home-cards-container">
  <div class="card-homepage">
    <div class="card-hp-info">
      <div class="card-hp-profession">Docteur</div>
      <div class="hp-bio">Générer des ordonnances. Gérer mes patients. </div>
      <div class="card-hp-divider"></div>
    </div>
    <div class="card-photo-hp"> </div>
      <a href="#" class="lien-homepage">Mon profil docteur</a>
  </div>
   <div class="card-homepage">
    <div class="card-hp-info">
      <div class="card-hp-profession">Patient</div>
      <div class="hp-bio">Voir mes ordonnances et commander mes médicaments. Choisir ma pharmacie préférée. </div>
      <div class="card-hp-divider"></div>
    </div>
    <div class="card-photo-hp"> </div>
      <a href="#" class="lien-homepage">Mon profil patient</a>
  </div>
</div>


<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    Simplifiez-vous la vie avec MedicHome
  </div>
</div>
