
.banner-text h1 {
  color: #224CC3;
  font-size: 110px;
  font-weight: 700;
  justify-content: center;
}

.banner-text h2 {
  color: $blue;
  display: block;
  font-size: 1.5em;
  margin-top: 0.83em;
  margin-bottom: 0.83em;
  margin-left: 260px;
  margin-right: 0;
  font-weight: bold;
}

.banner-text p {
  color: $blue;
  margin-left: 260px;
  font-weight: 280;
  opacity: 0.7;
}

.banner-text {
  padding-top: 100px;
  padding-bottom: 300px;
  background-image: image-url("/Users/mehdisabil/code/MehdiSabil1/MedicHome/app/assets/images/icons/Back-homepage.jpg");
  background-size: cover;
  background-position: center;
}
