.banner-text h1 {
  text-align: center;
  font-family: "Fredoka One", cursive;
  margin-top: 32px;
  margin-bottom: 70px;
  color: $blue;
  font-size: 80px;
  font-weight: 700;
  letter-spacing: 4px;
}

.banner-text h2 {
  color: $blue;
  display: block;
  font-size: 1.5em;
  margin-top: 0.83em;
  margin-bottom: 0.83em;
  margin-left: 260px;
  margin-right: 0;
  font-weight: bold;
}

.banner-text p {
  color: $blue;
  margin-left: 260px;
  font-weight: 280;
  opacity: 0.7;
}

.banner-text {
  padding-top: 100px;
  padding-bottom: 300px;
  background-image: image-url(
    "/Users/mehdisabil/code/MehdiSabil1/MedicHome/app/assets/images/icons/Back-homepage.jpg"
  );
  background-size: cover;
  background-position: center;
  
}
