
body {
  padding: O;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-color: white;
}

.home-cards-container {
  display: flex;
  justify-content: center;
}

.card-homepage {
  height: 400px;
  width: 310px;
  background-color: #fff;
  transform: scale(0.7);
  border-radius: 8px;
  box-shadow: 0 0 1px 1px;
  left: 25%;
}

.card-hp-info{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card-hp-profession {
  font-size: 35px;
  font-weight: 600;
  color: $blue;
  position: absolute;
  top: 100px;
  letter-spacing: 2px;
  left: 30%;
}

.hp-bio {
  font-size: 16px;
  color: $blue;
  position: absolute;
  top: 200px;
  text-align: center;
}

.card-hp-divider {
  background-color: $blue;
  height: 1.5px;
  width: 50%;
  position: absolute;
  top: 280px;
  left: 25%;
}

.card-photo-hp {
  height: 100%;
  width: 100%;
  background-image: url("https://img.le-dictionnaire.com/docteur.jpg");
  background-repeat: no-repeat;
  position: absolute;
  bottom: 0;
  background-size: 100% 100%;
  border-radius: 8px;
  transition: 1.2s;
}

.card-photo2-hp {
  height: 100%;
  width: 100%;
  background-image: url("https://img.freepik.com/photos-gratuite/joyeuse-femme-age-moyen-aux-cheveux-boucles_1262-20859.jpg?w=1480&t=st=1678901456~exp=1678902056~hmac=466bf120cb49605c071ac3b565af20c4ad9acbdd1f2f6a506265425c986f8df3");
  background-repeat: no-repeat;
  position: absolute;
  bottom: 0;
  background-size: 100% 100%;
  border-radius: 8px;
  transition: 1.2s;
}

.card-homepage:hover .card-photo-hp{
  transform: scale(0.5, 0.35) translateY(-650px);
  border-radius: 50%;
  background-size: 100% 150%;
  background-position: 0 -25px;
}


.card-homepage:hover .card-photo2-hp{
  transform: scale(0.5, 0.35) translateY(-650px);
  border-radius: 50%;
  background-size: 100% 150%;
  background-position: 0 -25px;
}

.lien-homepage {
  position: absolute;
  box-shadow: -70px;
  font-size: 20px;
  color:white;
  background-color: $blue;
  width: 100%;
  padding: 12px 0;
  font-weight: 600;
  text-decoration: none;
  text-align: center;
  border-radius: 8px;
  }
