.titre-page {
    text-align: center;
    font-family: 'Fredoka One', cursive;
    margin-top: 8px;
    margin-bottom: 40px;
    color: $blue;
    font-size: 50px;
    font-weight: 700;
    letter-spacing: 1px;
}
.titre-page-medium {
    text-align: center;
    font-family: 'Fredoka One', cursive;
    margin-top: 32px;
    margin-bottom: 70px;
    color: $blue;
    font-size: 65px;
    font-weight: 700;
    letter-spacing: 2px;
}


.titre-page-mobile {
    text-align: center;
    font-family: 'Fredoka One', cursive;
    margin-top: 16px;
    margin-bottom: 50px;
    color: $blue;
    font-size: 40px;
    font-weight: 700;
    
}
