.titre-page {
    text-align: center;
    font-family: 'Fredoka One', cursive;
    margin-top: 30px;
    margin-bottom: 40px;
    color: $blue;
    font-size: 20px;
    font-weight: 200;
    letter-spacing: 1px;
}
.titre-page-medium {
    text-align: center;
    font-family: 'Fredoka One', cursive;
    margin-top: 30px;
    margin-bottom: 40px;
    color: $blue;
    font-size: 20px;
    font-weight: 200;
    letter-spacing: 1px;
}


.titre-page-mobile {
    text-align: center;
    font-family: 'Fredoka One', cursive;
    margin-top: 16px;
    margin-bottom: 50px;
    color: $blue;
    font-size: 20px;
    font-weight: 200;

}
