.checkout-card {
  background-color: white;
  padding: 20px;
  border: grey;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  margin: 20px;
}

.checkout-section {
  margin-bottom: 20px;
}

.checkout-section h3 {
  margin-top: 0;
}


.quantity {
  display: flex;
  align-items: center;
  margin-right: 10px;
}



.add-button, .update-button, .remove-button {
  display: inline-block;
  padding: 5px 10px;
  background-color: #007bff;
  color: #fff;
  border-radius: 5px;
  text-decoration: none;
  margin-right: 10px;
}

.add-button:hover, .update-button:hover, .remove-button:hover {
  background-color: #0062cc;
}

.delivery-option {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.delivery-option label {
  margin-left: 10px;
}

.total p {
  font-size: 18px;
  font-weight: bold;
  margin: 0;
}

.checkout-container {
  display: flex;
  flex-direction: column;
}

.total-button {
  background-color: #007bff; /* blue color for button */
  border: none; /* remove border */
  border-radius: 10%;
  color: #fff; /* white text color */
  padding: 10px 20px; /* add padding */
  text-align: center; /* center text */
  text-decoration: none; /* remove underline */
  display: inline-block; /* display as inline block */
  font-size: 16px; /* font size */
  margin: 10px; /* add margin */
  cursor: pointer; /* add pointer cursor */
}

.total-button:hover {
  background-color: #0062cc; /* darker blue color on hover */
}

.total {
  font-size: 20px; /* increase font size for total text */
  margin: 20px; /* add margin */
}
